.header-nav {
    padding: 1px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    height: fit-content;

    a {
        text-decoration: none;
        color: var(--secondary-color);
        padding: 10px;
    }

    img {
        padding: 5px
    }

    h1, h2, h3 {
        color: var(--secondary-color);
    }
}